<%- include("partials/header") %>
<div class ='container' style="display: flex; flex-flow: column wrap; justify-content: center; width: 100%;">
	<div class ='content' style="background-color: rgb(140, 161, 210); border: 1px sold black">
	<h2 class='heading'>Welcome To Online Banking System</h2>	
     
	<p class="main-content">
    Start transferring your money in very smart way.we provide very efficient and smart 
	way of transferring your money
    </p>

 <button class='submit'><a href="/view"></a>Get Started</button>
</div>
</div>
	
<%- include("partials/footer") %>
